.places {
  display: grid;
  grid-template-columns: 100%;
  gap: 80px;
}

@media screen and (max-width: 975px) {
  .places {
    gap: 73px;
  }
}

@media screen and (max-width: 751px) {
  .places {
    gap: 50px;
    padding: 0;
    max-width: none;
  }
}
