.header__logo {
  width: 176px;
  height: 52px;
  display: flex;
  justify-content: space-between;
}

.header__logo:hover .header__logo-text {
  transform: translate(-105%, 0);
}

.header__logo:hover .header__logo-img {
  transform: translate(144%, 0);
}

@media screen and (max-width: 751px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: contain;
  }
}


