.header__lang-link_active {
  border-bottom: 1.5px solid #fff;
  margin-bottom: 4.5px;
}

@media screen and (max-width: 751px) {
  .header__lang-link_active {
    border-bottom: 1px solid #fff;
  margin-bottom: 7px;
  }
}
