.cover {
  padding: 0;
}

@media screen and (max-width: 1183px) {
  .cover {
    max-width: none;
  }
}

@media screen and (max-width: 976px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 751px) {
  .cover {
    margin-top: 66px;
  }
}
