.header__logo-img {
  background-image: url(../../../images/header/logo-img.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 41%;
  transition: 0.5s ease-in-out;
}
