.footer__links-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 751px) {
  .footer__links-list {
    flex-direction: column;
    margin: 0 0 48px 0;
  }
}
